/* Container con tema oscuro */
.container-sm {
    background-color: #212529; 
    color: #f8f9fa; 
    font-family: 'Roboto', sans-serif; 
    padding-top: 4rem; 
    padding-bottom: 4rem;
    margin-top: 12% !important;
    border-radius: 1rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    max-width: 35rem !important;
  }
/* Container xxl con tema oscuro */
  .container-xxl{
    background-color: #212529; 
    color: #f8f9fa; 
    font-family: 'Roboto', sans-serif; 
    padding-top: 4rem; 
    padding-bottom: 4rem;
    border-radius: 1rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh; 
    text-align: center;
  }

  @media screen and (min-width: 1px) and (max-width: 767px) {
    .container-xxl{
      background-color: #212529; 
      color: #f8f9fa; 
      font-family: 'Roboto', sans-serif; 
      padding-top: 4rem; 
      padding-bottom: 4rem;
      border-radius: 1rem; 
      display: flex;
      justify-content: center;
      align-items: center;
      height: 190vh; 
      text-align: center;
    }
  }

  .descripcionAnime{
    display: block;
    align-items: baseline;
    height: 160vh;
  }

  .comentarios-seccion {
    border-top: 1px solid #ddd; /* Línea superior para separar la sección */
    padding-top: 20px; /* Espaciado superior */
}

  .comentario {
    border: 1px solid #eee; /* Borde alrededor de cada comentario */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Fondo claro */
}

  .dark-theme-container h1, .dark-theme-container h2, .dark-theme-container h3, 
  .dark-theme-container h4, .dark-theme-container h5, .dark-theme-container h6 {
    color: #ffffff; /* Colores blancos para los títulos */
  }
  
  .dark-theme-container p {
    line-height: 1.6; /* Mejora la legibilidad del texto */
    margin-bottom: 16px; /* Espaciado entre párrafos */
  }

  .index-custom{
        background: rgb(199, 211, 230);
  }

  .gradient-custom {
    background: #6a11cb;
    
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgb(37, 123, 252));
    
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgb(37, 123, 252));
    }

.link-muted{
    color: rgba(37, 170, 255, 0.6);
    text-decoration: none;
}

.itemCentrado{
    display: flex;
    justify-content: center; 
    margin-bottom: 2.5rem;
    padding: 0.5rem 1rem; 
}
/* iconos */
.social-icons {
    display: flex; 
    justify-content: center; 
    margin: 0 10px; 
    padding: 0; 
  }

/* Flecha para atras o adelante */

  .arrow-back {
    position:absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 3px solid white !important;
    border-bottom: 3px solid white !important;
    transform: rotate(45deg);
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  .arrow-back:hover {
    transform: rotate(45deg) translate(-3px, -3px);
    border-left-color: white;
    border-bottom-color: white;
  }

  .container-xxl .arrow-back{
    position:absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg);
    cursor: pointer;
    transition: transform 0.2s ease;
    left: 16%;
  }
  .container-xxl .arrow-back:hover{
    transform: rotate(45deg) translate(-3px, -3px);
    border-left-color: white;
    border-bottom-color: white;
  }
  
  

  .arrow-next {
    position:absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(220deg);
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  .arrow-next:hover {  
    transform: rotate(220deg) translate(3px, 3px);
    border-left-color: white;
    border-bottom-color: white;
  }


  .container-xxl .arrow-next{
    position:absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(220deg);
    cursor: pointer;
    transition: transform 0.2s ease;
    right: 16%;
  }

 /* Flechas responsive para cada pantalla */
@media screen and (min-width: 1px) and (max-width: 767px) { 
  .container-xxl .arrow-next{
    position:absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(220deg);
    cursor: pointer;
    transition: transform 0.2s ease;
    right:  15%;
    bottom: 12%;
  }

  .container-xxl .arrow-next:hover{
    transform: rotate(220deg) translate(3px, 3px);
    border-left-color: white;
    border-bottom-color: white;
  }
}  

@media screen and (min-width: 1px) and (max-width: 767px) { 
  .container-xxl .arrow-back{
    position:absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg);
    cursor: pointer;
    transition: transform 0.2s ease;
    left: 15%;
    bottom: 12%;
  }
  .container-xxl .arrow-back:hover{
    transform: rotate(45deg) translate(-3px, -3px);
    border-left-color: white;
    border-bottom-color: white;
  } 
} 

@media screen and (min-width: 768px) and (max-width: 991px) { 
  .container-xxl .arrow-next{
    position:absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(220deg);
    cursor: pointer;
    transition: transform 0.2s ease;
    right:  15%;
    bottom: 12%;
  }

  .container-xxl .arrow-next:hover{
    transform: rotate(220deg) translate(3px, 3px);
    border-left-color: white;
    border-bottom-color: white;
  }
}  

@media screen and (min-width: 768px) and (max-width: 991px) { 
  .container-xxl .arrow-back{
    position:absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg);
    cursor: pointer;
    transition: transform 0.2s ease;
    left: 15%;
    bottom: 12%;
  }
  .container-xxl .arrow-back:hover{
    transform: rotate(45deg) translate(-3px, -3px);
    border-left-color: white;
    border-bottom-color: white;
  } 
} 

@media screen and (min-width: 992px) and (max-width: 1800px) { 
  .container-xxl .arrow-next{
    position:absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(220deg);
    cursor: pointer;
    transition: transform 0.2s ease;
    right:  15%;
    bottom: 8%;
  }

  .container-xxl .arrow-next:hover{
    transform: rotate(220deg) translate(3px, 3px);
    border-left-color: white;
    border-bottom-color: white;
  }
}  

@media screen and (min-width: 992px) and (max-width: 1800px) {
  .container-xxl .arrow-back{
    position:absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg);
    cursor: pointer;
    transition: transform 0.2s ease;
    left: 15%;
    bottom: 8%;
  }
  .container-xxl .arrow-back:hover{
    transform: rotate(45deg) translate(-3px, -3px);
    border-left-color: white;
    border-bottom-color: white;
  } 
} 


/* anime cuadro */
.image-container {
    position: relative;
    width: 100%; 
    max-width: 300px;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
}

.image {
    display: block;
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    object-fit: cover; 
    padding-left: 2rem;
    padding-top: 1.5rem;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 5px;
}

.image-container:hover .overlay {
    opacity: 1;
}

.image-container:hover .image {
    opacity: 0.7; 
}



.desc img {
  position: relative;
  width: 50%;
  left: 24%;
}

.texto-grande{
  font-size: 2.5rem;
}

/* nav */
.navbar {
    padding: 1rem;
    margin-bottom: 1rem;
    
}
.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: #f8f9fa !important;
}

.form-inline {
    display: flex;
    align-items: center;
}

input[type="search"] {
    width: 10rem; 
    border-radius: 0.25rem;
    margin-right: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
  }